.slide {
            background: white;
            /* border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
            padding: 20px;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            gap: 30px;
            margin-bottom: 15px;
        }
        .day {
            margin: 10px 0;
            font-size: 15px;
            display: flex;
            flex-direction: column;
        }
        .date {
            font-size: 12px;
            color: gray;
            display: flex;
            flex-direction: column;
        }

       