body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  font-size: 2vw; 
}

.icon img {
  height: 10px;
  width: 10px;
}
.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
 
.wrapper {
  width: 90%;
  max-width: 1200px;
}

.container {
  background: white;
  padding: 20px;
  /* border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  text-align: center;
}

h1 {
  font-size: 24px;
  text-align: center;
  padding: 2rem;
}
#success-pic {
    max-height: 150px;
    max-width: 150px; 
    padding-bottom: 2rem;
}

p {
    margin-top: 20px 0 50px 0; 
    font-size: 12PX;
    color: gray;
     white-space: normal;
}
